.site_header {
    display: flex;
    justify-content: center;
}

.site_header .row_wrap {
    display: flex;
    width: 75vw;
    height: 50px;
    background-color: var(--site_header_background_color);
    padding: 0 24px;
}

.site_header .header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site_header .header_menu {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.site_header .header__menu_element {
    display: flex;
    align-items: center;
    border-bottom: 3px solid var( --site_header_menu_border );
    flex-shrink: 0;
    height: 100%;
    text-decoration: none;
    transition: 0.4s;
    padding: 0 8px;
    margin-right: 16px;
}

.site_header .header__menu_element.current { border-color: var( --site_header_menu_current_border ); }
.site_header .header__menu_element:hover { border-color: var( --site_header_menu_border_hover ); }
.site_header .header__menu_element.current:hover { border-color: var( --site_header_menu_current_border_hover ); }
.site_header .header__menu_element:last-of-type { margin-right: 0; }

.site_header .header__menu_element nice-svg { margin-right: 4px; }
.site_header .header__menu_element nice-svg svg { fill: var( --site_header_menu_icon_color ); opacity: 1; }
.site_header .header__menu_element:hover nice-svg svg { fill: var( --site_header_menu_icon_color_hover ); }
.site_header .header__menu_element.current nice-svg svg { fill: var( --site_header_menu_current_icon_color ); }
.site_header .header__menu_element.current:hover nice-svg svg { fill: var( --site_header_menu_current_icon_color_hover ); }

.site_header .header__menu_element .title {
    font-size: 16px;
    font-weight: 600;
    color: var( --site_header_menu_text_color );
    transition: 0.4s;
}
.site_header .header__menu_element:hover .title { color: var( --site_header_menu_text_color_hover  ); }
.site_header .header__menu_element.current .title { color: var( --site_header_menu_current_text_color ); }
.site_header .header__menu_element.current:hover .title { color: var( --site_header_menu_current_text_color_hover ); }